@media only screen and (min-width: 751px) {

    .main {
        margin: auto;
        width: 751px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__heading--hidden {
            display: none;
        }

        .banner {
            background-color: #fbdece;
            padding-bottom: 99px;

            &__heading--hidden {
                display: none;
            }

            &__fig {
                margin-bottom: 8px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &__video {
                width: 682px;
                height: 384px;

                &-wrapper {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                }
            }

            &__text {
                font-size: 29px;
                text-align: center;
                font-family: GothicA1-Regular;
                line-height: 46px;
                color: #221714;
            }
        }
    }

    .content {
        &__heading--hidden {
            display: none;
        }

        &__item {
            &:nth-child(n+2) {
                .miyajima {
                    background-color: #ffeeda;
                    padding-bottom: 100px;

                    &__btn {
                        background-color: white;
                    }
                }
            }

            &:nth-child(n+5) {
                .izumo {
                    background-color: #f5e9f3;
                    padding-bottom: 100px;

                    &__btn {
                        background-color: white;

                        &--top {
                            background-color: white;
                        }
                    }
                }
            }

            &:nth-child(n+8) {
                .onomichi {
                    background-color: #e3f0f9;
                    padding-bottom: 100px;

                    &__btn {
                        background-color: white;

                        &--top {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }



    .miyajima {
        padding-bottom: 90px;

        &-figure {
            width: 750px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__btn {
            width: 230px;
            height: 65px;
            background-color: #ffeeda;
            color: #000000;
            font-size: 29px;
            font-family: GothicA1-Medium;
            border-radius: 70px;
            border: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 43px;
                width: 488px;
                margin: auto;
            }

            &--top {
                width: 100%;
                height: 65px;
                background-color: white;
                color: #000000;
                font-size: 29px;
                font-family: GothicA1-Medium;
                border-radius: 70px;
                border: 1px solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 29px;
            }
        }

        &__link-item {
            &:nth-child(1) {
                margin-right: 29px;
            }
        }

        &__link-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .izumo {
        padding-bottom: 100px;

        &-figure {
            width: 750px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__btn {
            width: 230px;
            height: 65px;
            background-color: #f5e9f3;
            color: #000000;
            font-size: 29px;
            font-family: GothicA1-Medium;
            border-radius: 70px;
            border: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 43px;
                width: 488px;
                margin: auto;
            }

            &--top {
                width: 100%;
                height: 65px;
                background-color: #f5e9f3;
                color: #000000;
                font-size: 29px;
                font-family: GothicA1-Medium;
                border-radius: 70px;
                border: 1px solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 29px;
            }
        }

        &__link-item {
            &:nth-child(1) {
                margin-right: 29px;
            }
        }

        &__link-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .onomichi {
        padding-bottom: 100px;

        &-figure {
            width: 750px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__btn {
            width: 230px;
            height: 65px;
            background-color: #e3f0f9;
            color: #000000;
            font-size: 29px;
            font-family: GothicA1-Medium;
            border-radius: 70px;
            border: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 43px;
                width: 488px;
                margin: auto;
            }

            &--top {
                width: 100%;
                height: 65px;
                background-color: #e3f0f9;
                color: #000000;
                font-size: 29px;
                font-family: GothicA1-Medium;
                border-radius: 70px;
                border: 1px solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 29px;
            }
        }

        &__link-item {
            &:nth-child(1) {
                margin-right: 29px;
            }
        }

        &__link-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 750px) {
    .main {
        margin: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__heading--hidden {
            display: none;
        }

        .banner {
            background-color: #fbdece;
            padding-bottom: 13.200vw;

            &__heading--hidden {
                display: none;
            }

            &__fig {
                margin-bottom: 1.067vw;

                img {
                    width: 100%;
                }
            }

            &__video {
                width: 90.933vw;
                height: 51.200vw;

                &-wrapper {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .content {
            &__heading--hidden {
                display: none;
            }

            &__item {
                &:nth-child(n+2) {
                    .miyajima {
                        background-color: #ffeeda;
                        padding-bottom: 13.333vw;

                        &__btn {
                            background-color: white;
                        }
                    }
                }

                &:nth-child(n+5) {
                    .izumo {
                        background-color: #f5e9f3;
                        padding-bottom: 13.333vw;

                        &__btn {
                            background-color: white;

                            &--top {
                                background-color: white;
                            }
                        }
                    }
                }

                &:nth-child(n+8) {
                    .onomichi {
                        background-color: #e3f0f9;
                        padding-bottom: 13.333vw;

                        &__btn {
                            background-color: white;

                            &--top {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }

        .miyajima {
            padding-bottom: 12vw;

            &-figure {
                width: 100vw;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__btn {
                width: 30.667vw;
                height: 8.667vw;
                background-color: #ffeeda;
                color: #000000;
                font-size: 3.867vw;
                font-family: GothicA1-Medium;
                border-radius: 9.333vw;
                border: 0.133vw solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5.733vw;
                    width: 65.067vw;
                    margin: auto;
                }

                &--top {
                    width: 100%;
                    height: 8.667vw;
                    background-color: white;
                    color: #000000;
                    font-size: 3.867vw;
                    font-family: GothicA1-Medium;
                    border-radius: 9.333vw;
                    border: 0.133vw solid #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3.867vw;
                }
            }

            &__link-item {
                &:nth-child(1) {
                    margin-right: 3.867vw;
                }
            }

            &__link-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .izumo {
            padding-bottom: 13.333vw;

            &-figure {
                width: 100vw;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__btn {
                width: 30.667vw;
                height: 8.667vw;
                background-color: #f5e9f3;
                color: #000000;
                font-size: 3.867vw;
                font-family: GothicA1-Medium;
                border-radius: 9.333vw;
                border: 0.133vw solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5.733vw;
                    width: 65.067vw;
                    margin: auto;
                }

                &--top {
                    width: 100%;
                    height: 8.667vw;
                    background-color: #f5e9f3;
                    color: #000000;
                    font-size: 3.867vw;
                    font-family: GothicA1-Medium;
                    border-radius: 9.333vw;
                    border: 0.133vw solid #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3.867vw;
                }
            }

            &__link-item {
                &:nth-child(1) {
                    margin-right: 3.867vw;
                }
            }

            &__link-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        .onomichi {
            padding-bottom: 13.333vw;

            &-figure {
                width: 100vw;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__btn {
                width: 30.667vw;
                height: 8.667vw;
                background-color: #e3f0f9;
                color: #000000;
                font-size: 3.867vw;
                font-family: GothicA1-Medium;
                border-radius: 9.333vw;
                border: 0.133vw solid #000000;
                display: flex;
                justify-content: center;
                align-items: center;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5.733vw;
                    width: 65.067vw;
                    margin: auto;
                }

                &--top {
                    width: 100%;
                    height: 8.667vw;
                    background-color: #e3f0f9;
                    color: #000000;
                    font-size: 3.867vw;
                    font-family: GothicA1-Medium;
                    border-radius: 9.333vw;
                    border: 0.133vw solid #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3.867vw;
                }
            }

            &__link-item {
                &:nth-child(1) {
                    margin-right: 3.867vw;
                }
            }

            &__link-list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@font-face {
    font-family: GothicA1-Medium;
    src: url("../font/Gothic_A1/GothicA1-Medium.ttf");
}